<a href="https://colab.research.google.com/github/aqilaaprillia/MachineLearning/blob/main/Decisioun%20Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Progresi linear : memprediksi berdasarkan data-data lampau

Regresi logistik : klasifikasi data 

Balancing data : 
- over sampling : generate data baru 
- under sampling : di potong data majoritas

**Materi pertemuan 5 ( Decisioun Tree)**

root -> node -> leaf 

Model membuat decisioun tree 
-CART (clasification and regresion trees) : 

overfitting : modelnya bagus di dqalamnya saja ketika digunakan. pada data yang baru menjadi tdk bagus 


---prunning dilakukan ketika tree terlalu panjang---
prunning : pemangkasan terhadap tree. node" di tingkat atas di jadakan leaf mode 


--encoding--
ubah model ke nomor

In [ ]:
import pandas as pd

In [ ]:
df1= pd.read_csv("/content/drive/MyDrive/Pertemuan5_ML/decisiontree_ch6.csv")
df1.head() #melihat 5 data teratas

   ID   mesin  bangku penggerak    label
0   1  bensin       4     depan    sedan
1   2  bensin       2     depan    sedan
2   3  bensin       8  belakang  minibus
3   4  diesel       6     depan  minibus
4   5  bensin       5  belakang  minibus

In [ ]:
encoding={"mesin":{"bensin":0,"diesel":1},
          "penggerak":{"depan":0,"belakang":1}} #encoding : mereplace 
df1.replace(encoding,inplace=True)

In [ ]:
df1.head() 
#feauter (variable x/bebas) : mesin, bangku, penggerak 
#label (variable y/target/terikat) : label

   ID  mesin  bangku  penggerak    label
0   1      0       4          0    sedan
1   2      0       2          0    sedan
2   3      0       8          1  minibus
3   4      1       6          0  minibus
4   5      0       5          1  minibus

In [ ]:
X=df1.drop(['ID','label'],axis=1) #menghapus id dan label karena x adalah variable future
y = df1['label']

In [ ]:
import sklearn.model_selection as ms #membagi data
X_train,X_test,y_train,y_test=ms.train_test_split(X,y,test_size=0.2)

In [ ]:
X_train.head()

    mesin  bangku  penggerak
1       0       2          0
27      0       4          0
22      1       8          1
5       1       8          1
15      0       4          0

In [ ]:
import sklearn.tree as tree
model1 = tree.DecisionTreeClassifier(criterion='entropy',max_depth=5) #membatasi tree sampai kedalaman  5
model1.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [ ]:
y_prediksi =  model1.predict(X_test) # y yang muncul setelah di masukkan model ke dalam x test
y_prediksi

array(['minibus', 'sedan', 'minibus', 'minibus', 'sedan', 'minibus',
       'sedan', 'minibus'], dtype=object)

In [ ]:
import sklearn.metrics as met 
print(met.accuracy_score(y_test,y_prediksi))

1.0

In [ ]:
df1['mesin'].value_counts() #menghitung banyak nilai pada kolom mesin

0    25
1    15
Name: mesin, dtype: int64

In [ ]:
import sklearn.tree as tree
model2 = tree.DecisionTreeClassifier(criterion='gini',max_depth=5) #membatasi tree sampai kedalaman  5
model2.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=5)

In [ ]:
y_prediksi2 =  model2.predict(X_test) # y yang muncul setelah di masukkan model ke dalam x test
y_prediksi2

array(['minibus', 'sedan', 'minibus', 'minibus', 'sedan', 'minibus',
       'sedan', 'minibus'], dtype=object)

In [ ]:
import sklearn.metrics as met 
print(met.accuracy_score(y_test,y_prediksi2))

1.0

In [ ]:
import pydotplus as pp #melihat grafik
labels = ['mesin','bangku','penggerak']
dot_data = tree.export_graphviz(model1, out_file=None, feature_names=labels, filled=True, rounded= True)
graph = pp.graph_from_dot_data(dot_data)
graph.write_png('decisioun.png')

True

kumpulan beberapa decision tree  yang di ansambel: random forest